<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Instance #<%= @instance.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Login</dt>
              <dd><%= @instance.login %></dd>

              <dt>Pw</dt>
              <dd><%= @instance.pw %></dd>

              <dt>Account</dt>
              <dd><%= @instance.account.firm_name %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/instances" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/instances/<%= @instance.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_instance/<%= @instance.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
